<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 基于底层 API的编程式事务管理 配置 -->
	
	<bean id="baseBankService" class="com.bo.demo.service.impl.BaseBankServiceImpl">
		<property name="bankDao" ref="bankDao" />
		<property name="txManager" ref="transactionManager" />
		<property name="txDefinition">
			<bean class="org.springframework.transaction.support.DefaultTransactionDefinition">
				<property name="propagationBehaviorName" value="PROPAGATION_REQUIRED" />
			</bean>
		</property>
	</bean>

</beans>